@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #272727;
}

.history-sidebar {
    background-color: #36353A;
    color: #fff;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.history-sidebar-header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #fff;
}

.history-sidebar-header .fa-user-circle {
    margin-right: 10px;
    flex-shrink: 0;
}

.user-name {
    font-size: 18px;
}

.menu-section,
.other-section {
    padding: 20px;
}

.section-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

.history-sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.history-sidebar ul li {
    padding: 10px;
    color: gray;
    cursor: pointer;
}

.history-sidebar ul li i {
    margin-right: 10px;
}

.history-sidebar ul li.active {
    background-color: #3C3C4A;
}

.history-sidebar ul li a {
    text-decoration: none;
    color: #797C8F;
}

.history-sidebar ul li:hover {
    background-color: #444;
}

.other-section ul li {
    padding: 10px;
    color: gray;
    cursor: pointer;
}

.other-section ul li i {
    margin-right: 10px;
}

.other-section ul li a {
    text-decoration: none;
    color: #797C8F;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    color: #000;
}

.main-content h1 {
    font-size: 24px;
}

.main-title h2 {
    color: #fff;
}

.history-vehicle-table {
    width: 100%;
    border-collapse: collapse;
}

.history-vehicle-table th,
.history-vehicle-table td {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
    color: #000;
    font-weight: 500;
}

.history-vehicle-table th {
    border-bottom: 1px solid #000;
    text-align: center;
    border-right: 1px solid #000;
}

.invoice {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.invoice-header {
    text-align: center;
    margin-bottom: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.header-logo {
    flex-shrink: 0;
    margin-right: 10px;
}

.header-title {
    color: #000;
    font-size: 24px;
    margin: 0;
}

.header-logo img {
    display: block;
    width: 100px;
    height: auto;
}

.result {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    font-size: 18px;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.summary {
    text-align: center;
}

.summary-result {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.summary-result th,
.summary-result td {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
    color: #000;
    font-weight: 500;
}

.summary-result th {
    border-bottom: 1px solid #000;
    text-align: center;
    background-color: #f2f2f2;
}

.summary-result tbody {
    background-color: #f9f9f9;
}

.summary-result tbody tr:nth-child(even) {
    background-color: #eaeaea;
}

.print-button {
    text-align: center;
    margin-top: 20px;
}

#printButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#printButton:hover {
    background-color: #0056b3;
}
