@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-image: linear-gradient(to bottom, #1E1E1E, #666872);
    margin: 0;
}

h1,
h2,
h3,
p,
a {
    font-family: 'Inter', sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-content-container {
    border: 3px;
    width: 500px;
    height: 555px;
    padding: 40px 20px;
    background-image: linear-gradient(to bottom, #020405, #3D3F4A);
    border-radius: 50px;
    color: white;
    position: relative;
    right: 50px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff;
    color: #000000;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #222222;
    font-size: 16px;
    font-weight: 500;
}

.forgot-password {
    display: block;
    text-align: right;
    margin-top: 5px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.forgot-password:hover {
    color: #3B8EEA;
    text-decoration: underline;
}

button {
    background-color: #030385;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button[type="submit"] {
    font-weight: bold;
    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}

.login-text-box {
    text-align: start;
    margin: 32px 0 12px 0;
}

.form-group {
    padding: 16px;
}

.register-text-box {
    text-align: center;
    padding: 8px;
}

.register-text-box a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

.register-text-box a[href]:hover {
    color: #0505d4;
    text-decoration: underline;
}

.register-text-box a:first-child {
    font-weight: normal;
}

.register-text-box a[href] {
    color: #3180F7;
    font-weight: bold;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}

.logo-text-box {
    font-size: 32px;
    color: #FFF;
    margin-bottom: 10px;
}
