@font-face {
    font-family: 'interreg';
    src: url('font/interreg.ttf') format('ttf');
}

body {
    font-family: 'interreg', sans-serif; 
}


h1, h2, h3, p, a {
    font-family: 'interreg', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
}

.logincontainer {
    border: 3px solid #f1f1f1;
    width: 50%;
    min-width: 600px;
    padding: 40px;
    background-image: linear-gradient(to bottom, #020405, #3D3F4A);
    border-radius: 50px;
    color: white;
    position: relative; 
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #7A8394;
    color: #1E1E1E;
    border-radius: 5px;
}

button {
    background-color: #030385;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button[type="submit"] {
    font-weight: bold; 
    font-size: 16px; 
}


button:hover {
    opacity: 0.8;
}

.logintextbox {
    text-align: start;
    margin: 24px 0 12px 0;
}

.form-group {
    padding: 16px;
}

.social-login button {
    position: relative;
    padding-left: 50px;
    flex: 1;
    max-width: 140px;
}

.social-login img {
    position: absolute;
    left: 50px; 
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: auto;
    margin-right: 8px;
}

.social-login {
    display: flex;
    justify-content: center; 
    gap: 10px; 
}

.google-btn,
.facebook-btn {
    background-color: #ffffff; 
    max-width: fit-content;
    padding: 20px;
}

.textbox1, 
.registertextbox {
    text-align: center;
    padding: 8px;
}

.registertextbox a {
    text-decoration: none;
    color: inherit; 
    transition: color 0.3s;
}

.registertextbox a[href]:hover {
    color: #030385;
}

.registertextbox a:first-child {
    font-weight: normal; 
}

.registertextbox a[href] {
    font-weight: bold; 
    color: #3B8EEA;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logotextbox {
    font-size: 32px;
    color: #FFF;
    margin-bottom: 10px;
}