/* Bordered form */
.container {
    border: 3px solid #f1f1f1;
    max-width: 400px;
    padding: 20px;
    background-image: linear-gradient(to bottom, #1E1E1E, #656772);
    border-radius: 10px;
    color: white;
}

.cont {
    border: 3px solid #f1f1f1;
    max-width: 400px;
    padding: 20px;
    background-image: linear-gradient(to bottom, #1E1E1E, #656772);
    border-radius: 10px;
    color: white;
    position: absolute; /* Position the container absolutely */
    left: 0; /* Align to the left side */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Offset the container by half its height */
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #333;
    color: white;
    border-radius: 5px;
}

/* Set a style for the login button */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Center the login text */
.logintextbox {
    text-align: start;
    margin: 24px 0 12px 0;
}

/* Add padding to containers */
.form-group {
    padding: 16px;
}

/* Social login buttons */
.social-login button {
    position: relative;
    padding-left: 50px;
    flex: 1;
    max-width: 140px; /* Adjust as needed */
}

/* SVG icon styles */
.social-login img {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    width: 34px;
    height: auto;
    margin-right: 8px;
}

.social-login {
    display: flex;
    justify-content: center; 
    gap: 10px; 
}

.google-btn {
    background-color: #ffffff; 
}

.facebook-btn {
    background-color: #ffffff;
}
