@font-face {
    font-family: 'interreg';
    src: url('font/interreg.ttf') format('ttf');
}

body {
    font-family: 'interreg', sans-serif;
    background-image: linear-gradient(to right, #7E8080, #1E1E1E);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1, h2, h3, p, a {
    font-family: 'interreg', sans-serif;
}

.register-container {
    width: 90%;
    max-width: 1600px;
    background: #333;
    border-radius: 60px;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse; /* Reverse the order of children */
}

.form-container {
    padding: 50px;
    width: 50%;
    background: linear-gradient(to right, #38383A, #000);
    color: #fff;
    border-radius: 60px;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"],
.form-container input[type="tel"] {
    padding: 15px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
}

.form-container .terms {
    margin: 10px 0;
}

.form-container .terms input[type="checkbox"] {
    margin-right: 10px;
}

.form-container button {
    padding: 15px 20px;
    font-size: 18px;
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.form-container button:hover {
    opacity: 0.9;
}

.social-signup {
    text-align: center;
    padding: 10px 0;
}

.social-signup button {
    background: #fff;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
}

.social-signup button:hover {
    opacity: 0.8;
}

.login-link {
    text-align: center;
    padding: 10px 0;
}

.login-link a {
    color: #04AA6D;
    text-decoration: none;
}

.logo-container {
    width: 50%;
    padding: 20px;
    background: linear-gradient(to right, #A7A8A9, #333333);
}
