@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #272727;
}

.sidebar {
  background-color: #36353A;
  color: #fff;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #fff;
}

.sidebar-header .fa-user-circle {
  margin-right: 10px;
  flex-shrink: 0;
}

.user-name {
  font-size: 18px;
}

.menu-section,
.other-section {
  padding: 20px;
}

.section-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 10px;
  color: gray;
  cursor: pointer;
}

.sidebar ul li i {
  margin-right: 10px;
}

.sidebar ul li.active {
  background-color: #3C3C4A;
}

.sidebar ul li a {
  text-decoration: none;
  /* Remove default underline */
  color: #797C8F;
  /* Change font color */
}

.sidebar ul li:hover {
  background-color: #444;
}

.other-section ul li {
  padding: 10px;
  color: gray;
  cursor: pointer;
}

.other-section ul li i {
  margin-right: 10px;
}

.other-section ul li a {
  text-decoration: none;
  /* Remove default underline */
  color: #797C8F;
  /* Change font color */
}

.main-content {
  grid-area: main;
  margin-left: 250px;
  padding: 20px 20px;
  color: #fff;
}

.main-content h1 {
  font-size: 24px;
}

.search-bar {
  margin-bottom: 20px;
  position: relative;
}

.searchInput {
  padding: 10px 40px 10px 10px;
  /* Adjust padding to make space for the icon */
  font-size: 16px;
  border: 1px solid #313131;
  /* Change border color */
  border-radius: 5px;
  width: 300px;
  /* Adjust width as needed */
  background-color: #313131;
  /* Change background color */
  color: #fff;
  /* Change text color */
}

.searchInput::placeholder {
  color: #ccc;
  /* Change placeholder text color */
}

.searchButton {
  position: absolute;
  top: 50%;
  margin-left: 5px;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #313131;
  /* Change background color */
  color: #fff;
  /* Change text color */
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #1e1e1e;
  /* Change hover background color */
}

.user-container {
  background-color: #313131;
  height: 480px;
  overflow-y: auto;
  /* Add scrollbar if content exceeds container height */
  margin-bottom: 20px;
  /* Add margin to create space */
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  border: 1px solid transparent;
  /* Set border to transparent initially */
  text-align: left;
  padding: 8px;
}

.user-table th {
  background-color: #313131;
}

.user-table tbody tr {
  border-top: 2px solid #5A6ACF;
  /* Set border color for bottom border */
}

.user-row:hover {
  background-color: #373942;
  /* Change background color on hover */
  cursor: pointer;
  /* Change cursor to pointer on hover */
}

.history-data a {
  text-decoration: none;
  /* Remove text decoration for the link */
  color: #fff;
  /* Set the color of the icon to white */
}

.history-data a:hover {
  color: #2962FF;
  /* Set the color of the icon to white */
}


.vehicle-container {
  background-color: #313131;
  height: 200px;
  overflow-y: auto;
  /* Add scrollbar if content exceeds container height */
}

.vehicle-table {
  width: 100%;
  border-collapse: collapse;
}

.vehicle-table th,
.vehicle-table td {
  border: 1px solid transparent;
  /* Set border to transparent initially */
  text-align: left;
  padding: 8px;
}

.vehicle-table th {
  background-color: #313131;
  border-bottom: 2px solid #5A6ACF;
  /* Add bottom border for header cells */
  text-align: center;
  border-right: 2px solid #5A6ACF;
}

.vehicle-table td {
  border-bottom: 2px solid #5A6ACF;
  border-right: 2px solid #5A6ACF;
  /* Add bottom border for data cells */
}

.vehicle-table th:first-child,
.vehicle-table td:first-child {
  border-left: none;
  /* Remove left border for first column */
}

.vehicle-table th:last-child,
.vehicle-table td:last-child {
  border-right: none;
  /* Remove right border for last column */
}

.vehicle-table td:last-child {
  border-right: none;
  /* Remove right border for last column */
}